{{>nav}}

<br/><br/>
<div class="container">
<h2>네이버 크롤링 키워드 등록하기</h2>
<p><code>크롤링 할 키워드를 입력하세요.</code></p>
<hr/>
<h4>현재 키워드</h4>
<br/>
<ol>
	{{#keywords}}
	<li> 
		{{keyword}} 
		<button onclick="deleteKeyword({{id}})" class="btn btn-outline-success btn-sm">삭제</button>
	</li>
	<br/>
	{{/keywords}}
</ol>
<hr/>

<form action="/craw/keyword/proc" method="post">
	<input type="text" name="keyword" placeholder="키워드" style="margin-bottom:5px"/>
	<button class="btn btn-outline-success btn-sm">키워드 등록</button>
</form>
</div>

<script>
	function deleteKeyword(id){
		fetch("/craw/keyword/delete/"+id, {
			method: "delete"
		}).then(function(resp){
			return resp.text();
		}).then(function(resp){
			alert("키워드 삭제 성공");
			location.reload();
		});
	}
</script>
