{{>nav}}

<br/><br/>
<div class="container">
<h2>크롤링 데이터 정리하기</h2>
<p><code>크롤링 데이터를 삭제할 수 있습니다.</code></p>
<hr/>
{{#allKeyword}}
	<a href="/craw/clear/{{id}}">{{keyword}}</a>
{{/allKeyword}}
<hr/>
<ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/craw/clear/{{keywordId}}?page={{prev}}">이전</a></li>
    <li class="page-item"><a class="page-link" href="/craw/clear/{{keywordId}}?page={{next}}">다음</a></li>
  </ul>
<br/>
<table border="1" >
	<tr>
		<th>번호</th>
		<th>사진</th>
		<th>제목</th>
		<th>주소</th>
		<th>삭제하기</th>
	</tr>
	{{#products}}
	<tr id="product-{{id}}">
		<td width="5%">{{id}}</td>
		<td width="5%"><img src="{{thumnail}}" width="100px" height="100px" /></td>
		<td width="40%">{{title}}</td>
		<td width="40%"><a href="{{blogUrl}}">{{blogUrl}}</a></td>
		<td width="10%"><button onclick="deleteById({{id}})">삭제</button></td>
	</tr>
	{{/products}}
</table>
</div>

<script>
	function deleteById(id){
		fetch("/craw/product/delete/"+id, {
			method: "delete"
		}).then(function(resp){
			return resp.text();
		}).then(function(resp){
			alert("삭제 성공");
			$("#product-"+id).remove();
		});
	}
</script>
