{{>nav}}

<br/><br/>
<div class="container">
<h2>네이버 크롤링하기</h2>
<p><code>크롤링 할 키워드를 선택하세요.</code></p>
<hr/>
<form id="frm" style="margin-bottom:5px">
	<select name="keyword">
	    {{#keywords}}
			<option value="{{keyword}}">{{keyword}}</option>
		{{/keywords}}
	</select>
</form>
<br/>
	<button class="btn btn-outline-success btn-sm" onclick="crawNaver()">크롤링 시작</button>
</div>

<script>

	function crawNaver() {
		let data = $("#frm").serialize();
		console.log(data); 
	
		fetch("/craw/naver/proc",{
			method: "post",
			body: data,
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
			}
		}, 120000).then(function(resp){
			return resp.text();
		}).then(function(resp){
			alert(resp);
			console.log(resp);
		});
	}
</script>
